<table class="table table-bordered table-striped">   
    <tbody>
        <tr>
            <td width="20%"><b>{% trans %}Fund name{% endtrans %}</b></td>
            <td width="70%">{{ data.fundName }}</td>
        </tr>
        <tr>
            <td><b>{% trans %}Description{% endtrans %}</b></td>
            <td>
                {{ data.description }}
            </td>
        </tr>
        <tr>
            <td><b>{% trans %}Order id{% endtrans %}</b></td>
            <td>
                {{ data.fundId }}
            </td>
        </tr>
    </tbody>
</table>