body {
  background-color: #ebeff2;
}

.container {
  max-width: 960px;
}

/*
 * Custom Badge
 */
.badge-info {
background-color: #f9ab00;
color: rgba(0, 0, 0, .85);
}

/*
 * Custom Button
 */
.btn-info {
	background-color: #f9ab00;
	color: rgba(0, 0, 0, .85);
	border-color: #f9ab00;
}
.btn-info:hover {
	background-color: #999999;
	color: rgba(0, 0, 0, .85);
	border-color: #999999;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #999999;
  border-color: #999999;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-danger {
	background-color: #f9ab00;
	color: rgba(0, 0, 0, .85);
	border-color: #f9ab00;
}
.btn-danger:hover {
	background-color: #c10000;
	color: rgba(0, 0, 0, .85);
	border-color: #c10000;
}
.btn-danger:active {
	background-color: #c10000;
	color: rgba(0, 0, 0, .85);
	border-color: #c10000;
}

.btn-group-xs>.btn, .btn-xs {
	padding: .1rem .4rem;
	font-size: .6rem;
	border-radius: .2rem;
}


/*
 * Header margin pages.
 */
 .header-top {
	 margin-top: -4px;
 }

/*
 * Custom DataTable
 */
div.dataTables_wrapper div.dataTables_info {
	padding-top: 0.85em;
	white-space: nowrap;
	font-size: 10px;
}


/*
 * Custom Table
 */
tr {
  font-size: 12px;
}

td {
  font-size: 12px;
}

/*
 * Custom Tabs
 */

.nav-tabs {
border-bottom: 0px solid #dee2e6;
}

/*
 * Custom translucent site navbar
 */
.navbar {
  background-color: rgba(0, 0, 0, .85) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover .nav-link {
    color: #f9ab00;
}

/*
 * Tiles
 */
 
.mfl-orange {

	background-color: #f9ab00;
}

.mfl-tile {
  width: 94px;
  height: 94px;
  color: #f9ab00;
  display: block;
  float: left;
  border-radius: 3px;
  margin-left: 0px;
  margin-right:5px;
  margin-top: 0px;
  margin-bottom:0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mfl-tile:hover {
  outline: #999999 solid 0px !important;
  color: white !important;
  background: #999999 !important;
}

.mfl-tile .icon {
  position: absolute;
  color: rgba(0, 0, 0, .85);
  width: 64px;
  height: 64px;
  font-size: 36px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -32px;
  text-align: center;
}

.mfl-tile .tile-label {
  position: absolute;
  color: rgba(0, 0, 0, .85);
  bottom: 0;
  left: 2px;
  padding: 3px;
  z-index: 999;
  font-size: 12px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

/*
 * Form
 */
.required:after {
    content: "*";
    color: red;
}


[class*="col-"] {
    margin-bottom: 10px;
}

.sticky {
  position: fixed;
  top: 0;
}


.overflow-hidden { overflow: hidden; }