{%if data.membership is not empty %}
<!--Table -->
<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
				<th width="20px"></th>
                <th>{% trans %}startDate{% endtrans %}</th>
                <th>{% trans %}endDate{% endtrans %}</th>
                <th>{% trans %}years{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        
        {% for membership in data.membership %}
			<tr>
				<td align="center">
					<!-- Dropdown menu -->
					<div class="btn-group">
					  	<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				  		<div class="dropdown-menu">
				  			<a class="dropdown-item" href=""><i class="mdi mdi-pencil"></i> {% trans %}edit{% endtrans %}</a>
				  			<a class="dropdown-item" href="" onclick="return confirm('Weet je zeker dat je wilt verwijderen?');"><i class="mdi mdi-delete text-danger" ></i> {% trans %}delete{% endtrans %}</a>
				  		</div>
					</div>
					<!-- End dropdown menu -->
				</td>
			    <td>
					{{ membership.startDate | date("d-m-Y") }}
			    </td>	
			    <td>
				    {{ membership.endDate is empty ? "" : membership.endDate|date("d-m-Y") }}
				</td>
			    <td>
				    {% set difference = date(membership.endDate).diff(date(membership.startDate)) %}
					{% set leftDays = difference.y %}
					{{ leftDays}}
				</td>
			</tr>
		{% endfor %}
		
			<tr>
	            <td></td>
	            <td></td>
	            <td><b>{% trans %}total{% endtrans %}</b></td>
	            <td><b>{{ data.membershipYears }}</b></td>
	        </tr>
        </tbody>
    </table>
{% else %}
	<div class="text-muted">Niet van toepassing.</div>
{% endif %}