{%if data.memberOf is not empty %}
<!--Table -->
<table id="datatable-memberOf" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
				<th width="20px"></th>
                <th>{% trans %}programMemberships_role{% endtrans %}</th>
                <th>{% trans %}description{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        
        {% for memberOf in data.memberOf %}
			<tr>
				<td align="center">
					<!-- Dropdown menu -->
					<div class="btn-group">
					  	<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				  		<div class="dropdown-menu">
				  			<a class="dropdown-item" href=""><i class="mdi mdi-pencil"></i> {% trans %}edit{% endtrans %}</a>
				  			<a class="dropdown-item" href="" onclick="return confirm('Weet je zeker dat je wilt verwijderen?');"><i class="mdi mdi-delete text-danger" ></i> {% trans %}delete{% endtrans %}</a>
				  		</div>
					</div>
					<!-- End dropdown menu -->
				</td>
			    <td>
					{{ memberOf.programName }}
			    </td>	
			    <td>
				    {{ memberOf.description | truncate(100) }}
				</td>
			</tr>
		{% endfor %}
        
        </tbody>
    </table>

{% else %}
	<div class="text-muted">Niet van toepassing.</div>
{% endif %}

