{% extends 'base.html.twig' %}

{% block content %}

<div class="mt-lg-1 mt-sm-1 mx-lg-4">
    <!-- Flash Messages -->
    {{ include('base_flash_messages.html.twig') }}
    <!-- End Flash Messages -->

    <!-- Content -->
    {% block body %}{% endblock %}
    <!-- End content -->

    <!-- Footer -->
    {{ include('base_footer.html.twig') }}
    <!-- End Footer -->

</div>
{% endblock %}

