<!-- Footer -->
<div class="m-md-1 mt-sm-1 text-right text-muted">
    <small>Copyright © 2021 ClubManager
        - by <a href="https://github.com/Frankniesten/ClubManager" target="_blank">FrankNiesten</a>
        - <a href="https://github.com/Frankniesten/ClubManager" target="_blank">Versie 2.2.2</a>
    </small>
</div>
<!-- End Footer -->