{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
     <div class="row">
         <nav class="col-md-2 d-none d-md-block bg-light sidebar">
             <div class="sidebar-sticky">
                <ul class="nav flex-column" id="list-menu">
                        <!-- Content -->
                        {% block sidebar %}{% endblock %}
                        <!-- End content -->
                </ul>
         </nav>

         <div class="col ml-sm-auto">
            {% block body %}{% endblock %}

            <!-- Footer -->
            {{ include('base_footer.html.twig') }}
            <!-- End Footer -->
         </div>
     </div>
</div>
{% endblock %}



