{% extends 'base.html.twig' %}

{% block body %}
    <h3>{% trans %}navbar_dashboard{% endtrans %}</h3>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#profiletable-buttons').dataTable({
                lengthChange: false,
                "pageLength": 50,
                "columnDefs": [
				    { "orderable": true, "targets": 0 }
				  ],
                "order": [[ 1, "asc" ]],
            });
        });
    </script>
    
{% endblock %}